body {
  background-image: url('imgs/background.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
nav {
  grid-area: menu;
  margin-right: 20px;
  height: 60px;
  font-size: 1.75em;
  line-height: 60px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}
.nav-link {
  color: white;
  margin-left: 30px;
}
h1{
  color: white;
}
ul ,p {
  color: aqua;
}